
.navbar .navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    font-size: 2rem;
    font-weight: 600;
}
.navbar {
    background-color: #ffd60f;
}
.jumbotron{
    padding-top: 2rem;
    background-color:#f0fff0 ;
    height: auto;
}

#projects {
    background-color: #f0fff0;
    padding-bottom: 1.7rem;
}
.container {
    
}
