
.navbar .navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    font-size: 2rem;
    font-weight: 600;
}
.navbar {
    position: fixed;
    width: 100vw;
    background-color: #ffd600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 1rem;
    z-index: 1;
    box-shadow: black;
}
.jumbotron{
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-image: url(img/city\ fhd.jpg) ;
    background-size:cover;
    height: 100vh;
}
.about{
    margin-bottom: 100px;
    padding-top: 8rem;
}
#about .row{
    display: flex;
}
form {
padding: 9%;
align-items: center;
justify-content: center;
}
textarea{
    resize:none;
}
#foto-istana{
    width: 80%;
    border-radius: 20px;
}
#projects {
    background-color: #f0fff0;
    padding-bottom: 1.7rem;
}